.mainHolder {
    display: flex;
    flex-wrap: wrap;
    background-color:#487eb0 ;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 4px grey;
}
.Enroll {
    background-color: gray;
}
.CourseType {
    background-color: lightgrey;
    box-shadow: 3px grey;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 50px;
    border-style: outset;
    font-weight: 500;
    font-size: 25px;
}
.CourseContent {
    padding: 5px;
    margin: auto;
}
.CourseContentList{
    width: fit-content;
    background-color: lightgray;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px gray;
    margin: auto;
}
.fontSizeIcon{
    font-size: 15;
}  
.smallAvatar: {
width: theme.spacing(3),
height: theme.spacing(3)
}
.blue {
color: theme.palette.getContrastText(blue[400]),
backgroundColor: blue[400]
}
.ListSubBack{
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px gray;
    margin: auto;
  }
.Duration{
    color: white;
    margin: 10px;
    font-size: 20px;
}
.root{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    background-color: #487eb0;
    border-radius: 20px;
    box-shadow: 4px gray;
    padding: 20px 0px;
}
.instructImg{
    width: 250px;
}
.Desc{
    display: inline-block;
    width: 50%;
    color: white;
    font-weight: 400;
}